@font-face {
	font-family: 'VT323';
	src: url('./fonts/VT323.ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0px;
	padding: 0px;
	background-color: black;
	overflow: hidden;
}

main {
	position: absolute;
	height: 100vh;
	width: 100vw;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	background-color: black;
	overflow: hidden;
}

#div-computer {
	display: inline-flex;
	position: relative;
}

#display {
  position: absolute;
  inset: 0;
  display: flex;
	flex-direction: column;
	gap: 0px 0px;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transform: rotate(-1deg) translate(2%, -25%);
	font-family: "VT323";
	font-size: 3dvh

}

p {
	height: 0px;
	margin: 1.2dvh;
	color: white;
}

#pill {
	-webkit-mask-image: linear-gradient(to right, #000 70%, transparent 100%);
	mask-image: linear-gradient(to right, #000 70%, transparent 100%);
}
