body {
	background-image: radial-gradient(at center, rgba(0,0,0,0), gray), url('images/noise.gif'), url('images/background.jpg');
	background-position: center center;
	background-size: cover, 200px, cover;
	background-blend-mode: overlay;
}

body {
	font-size: 2vh;
	height: 100vh;
	width: 100vw;
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'sans-serif';
}

 section{
	display: flex;
	overflow-y: auto;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	background-color: blue;
	width: 96vw;
	height: 96vh;
}

p {
	color: white;
}

section {
  background: rgba(0,0,0,0.8);
  border: 1px solid white;
}

section#commits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

div.commit {
  background: rgba(0,0,0,0.9);
  margin: 0 0 10px 0;
  padding: 10px;
  width: 90%;
  border: 1px solid white;
}

div.info {
  text-align: center;
  font-weight: 900;
  padding: 10px;
  width: 90%;
  margin: 10px 0 10px 0;
  background: black;
  color: white;
  border: 1px solid white;
}

p.commit-text {
  font-family: "mono";
  font-weight: 900;
}


