body {
  background: url('images/background.jpg') center / cover no-repeat #333333;
}

@media (orientation: landscape) {
  body {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'sans-serif';
  }
  section {
    display: flex;
    overflow-y: auto;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: blue;
    height: 96vh;
  }
  section#commits {
    width: 100%;
    margin: 0px 2vh;
  }
  section#main {
    width: 100%;
    margin: 0px 0px 0px 2vh;
  }
}

@media (orientation: portrait) {
  body {
    font-size: 2vh;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'sans-serif';
  }
   section{
    display: flex;
    overflow-y: auto;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: blue;
    width: 96vw;
  }
  section#commits {
    height: 20%;
    margin: 0 0 2vw 0;
  }
  section#main {
    height: 80%;
    margin: 2vw 0;
  }
}

p {
  color: white;
}

section {
  background: rgba(0,0,0,0.9);
}

section#commits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

div.commit {
  background: rgba(0,0,0,0.9);
  margin: 0 0 10px 0;
  padding: 10px;
  width: 90%;
  border: 1px solid white;
}

div.info {
  text-align: center;
  font-weight: 900;
  padding: 10px;
  width: 90%;
  margin: 10px 0 10px 0;
  background: black;
  color: white;
  border: 1px solid white;
}

p.commit-text {
  font-family: "mono";
  font-weight: 900;
}


